{{template "base" .}}
{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col" style="
            justify-content: center;
            flex-direction: column;
            display: flex;
            align-items: center;">
                <h1>General`s Quarters</h1>
                <p>
                    Sometext
                </p>

                <a href="/check-available" class="btn btn-lg btn-primary">Check Available</a>
            </div>
        </div>
    </div>
{{end}}