{{template "base" .}}
{{define "header"}}
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
                <li><a href="/" class="nav-link px-2 link-dark">Features</a></li>
                <li class="nav-item dropdown">
                    <button class="btn btn-transparent dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Rooms
                    </button>
                    <ul class="dropdown-menu dropdown-menu-light">
                        <li><a class="dropdown-item" href="/rooms?t=generals-quarters">General`s Quarters</a></li>
                        <li><a class="dropdown-item" href="/rooms?t=majors-suite">Major`s suite</a></li>
                    </ul>
                </li>
                <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
                <li><a href="/contact-us" class="nav-link px-2 link-dark">Contact Us</a></li>
                <li><a href="/about" class="nav-link px-2 link-dark">About</a></li>
            </ul>

            <div class="col-md-3 text-end">
                <button id="loginModal" type="button" class="btn btn-outline-primary me-2">Login</button>
                <button id="signUpModal" type="button" class="btn btn-primary">Sign-up</button>
            </div>
        </header>
    </div>
    <script>
        const loginModal = `
          <div class="modal-dialog" role="document">
            <div class="modal-content rounded-4 shadow">
              <div class="modal-header p-5 pb-4 border-bottom-0">
                <!-- <h1 class="modal-title fs-5" >Modal title</h1> -->
                <h1 class="fw-bold mb-0 fs-2">Sign in</h1>
              </div>

              <div class="modal-body p-5 pt-0">
                <form class="">
                  <div class="form-floating mb-3">
                    <input type="email" class="form-control rounded-3" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control rounded-3" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                  </div>
                  <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Sign in</button>
                  <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
                  <hr class="my-4">
                  <h2 class="fs-5 fw-bold mb-3">Or use a third-party</h2>
                  <button class="w-100 py-2 mb-2 btn btn-outline-dark rounded-3" type="submit">
                    <svg class="bi me-1" width="16" height="16"><use xlink:href="#twitter"></use></svg>
                    Sign up with Twitter
                  </button>
                  <button class="w-100 py-2 mb-2 btn btn-outline-primary rounded-3" type="submit">
                    <svg class="bi me-1" width="16" height="16"><use xlink:href="#facebook"></use></svg>
                    Sign up with Facebook
                  </button>
                  <button class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-3" type="submit">
                    <svg class="bi me-1" width="16" height="16"><use xlink:href="#github"></use></svg>
                    Sign up with GitHub
                  </button>
                </form>
              </div>
            </div>
          </div>
        `
        const signUpModal = `
          <div class="modal-dialog" role="document">
            <div class="modal-content rounded-4 shadow">
              <div class="modal-header p-5 pb-4 border-bottom-0">
                <!-- <h1 class="modal-title fs-5" >Modal title</h1> -->
                <h1 class="fw-bold mb-0 fs-2">Sign Up</h1>
              </div>

              <div class="modal-body p-5 pt-0">
                <form class="">
                  <div class="form-floating mb-3">
                    <input type="email" class="form-control rounded-3" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control rounded-3" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                  </div>
                  <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Sign Up</button>
                  <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
                  <hr class="my-4">
                  <h2 class="fs-5 fw-bold mb-3">Or use a third-party</h2>
                  <button class="w-100 py-2 mb-2 btn btn-outline-dark rounded-3" type="submit">
                    <svg class="bi me-1" width="16" height="16"><use xlink:href="#twitter"></use></svg>
                    Sign up with Twitter
                  </button>
                  <button class="w-100 py-2 mb-2 btn btn-outline-primary rounded-3" type="submit">
                    <svg class="bi me-1" width="16" height="16"><use xlink:href="#facebook"></use></svg>
                    Sign up with Facebook
                  </button>
                  <button class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-3" type="submit">
                    <svg class="bi me-1" width="16" height="16"><use xlink:href="#github"></use></svg>
                    Sign up with GitHub
                  </button>
                </form>
              </div>
            </div>
          </div>
        `
        const loginPopup = () => {
            window.Swal.fire({
                html: loginModal,
                confirmButtonText: 'Cool'
            })
        }
        const signUpPopup = () => {
            window.Swal.fire({
                html: signUpModal,
                confirmButtonText: 'Cool'
            })
        }
        document.querySelector("#loginModal").addEventListener("click", loginPopup)
        document.querySelector("#signUpModal").addEventListener("click", signUpPopup)

    </script>
{{end}}