{{template "base" .}}
{{define "header"}}
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
                <li><a href="/" class="nav-link px-2 link-dark">Features</a></li>
                <li class="nav-item dropdown">
                    <button class="btn btn-transparent dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Rooms
                    </button>
                    <ul class="dropdown-menu dropdown-menu-light">
                        <li><a class="dropdown-item" href="/rooms?t=generals-quarters">General`s Quarters</a></li>
                        <li><a class="dropdown-item" href="/rooms?t=majors-suite">Major`s suite</a></li>
                    </ul>
                </li>
                <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
                <li><a href="/contact-us" class="nav-link px-2 link-dark">Contact Us</a></li>
                <li><a href="/about" class="nav-link px-2 link-dark">About</a></li>
            </ul>

            <div class="col-md-3 text-end">
                <button type="button" class="btn btn-outline-primary me-2">Login</button>
                <button type="button" class="btn btn-primary">Sign-up</button>
            </div>
        </header>
    </div>
{{end}}