{{template "base" .}}
{{define "content"}}
    <div class="container">
        <div class="col" style="
            justify-content: center;
            flex-direction: column;
            display: flex;
            align-items: center;">
            <h1>Major`s Suite</h1>
            <p>
                Sometext
            </p>

            <a href="/check-available" class="btn btn-lg btn-primary" style="max-width: 30%;">Check Available</a>
        </div>
    </div>
{{end}}