{{template "base" .}}
{{define "content"}}
    <div class="container">
        <div class="row py-8">
            <div class="col-md-8">
                <h1 class="mb-3">Reservation</h1>
                <form id="reservation-form" action="/reservation" class="checkAvailable-form needs-validation" novalidate method="post">
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                    <div class="row g-3 mb-3">
                        <div class="col">
                            <label for="date-from" class="form-label">Enter your start date</label>
                            <input required type="date" class="form-control" id="date-from" aria-describedby="date" name="date-from">
                        </div>
                        <div class="col">
                            <label for="date-to" class="form-label">Enter How much reserve you want</label>
                            <input required type="date" class="form-control" id="date-to" aria-describedby="date" name="date-to">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="first_name" class="form-label">First Name</label>
                        <input required type="text" class="form-control" id="first_name" name="first_name">
                    </div>

                    <div class="mb-3">
                        <label for="last_name" class="form-label">Last Name</label>
                        <input required type="text" class="form-control" id="last_name" name="last_name">
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input required type="email" class="form-control" id="email" name="email">
                    </div>

                    <div class="mb-3">
                        <label for="phone" class="form-label">Phone</label>
                        <input required type="text" class="form-control" id="phone" name="phone">
                    </div>


                    <div class="mb-3 form-check">
                        <input  required type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="col-md-4">
                <img src="/static/images/tray.png" class="fluid-img" style="max-width: 100%; object-fit: cover" alt="rtaw">
            </div>
        </div>
    </div>
        <script src="/static/js/reservationForm.js"></script>
{{end}}